/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/Olamundoswing/nbproject/private/
/Olamundoswing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/Aula02/nbproject/private/
/Aula02/build/
/Aula03/nbproject/private/
/Aula03/build/
/Univesp_UrnaE/nbproject/private/